.bottomSheetOuterContainer {
  position: fixed;
  top: 75px;
  left: 20px;
  width: 28%;
  height: 68%;
  background-color: rgba(211, 211, 211, 1);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.bottomSheetSection1 {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  width: 90%;
  height: fit-content;
  background-color: transparent;
  margin-bottom: 3px;
  margin-left: 0px;
  padding: 0;
  padding-left: 35px;
}

.bottomSheetContentContainer {
  width: fit-content;
  background-color: transparent;
  padding: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.icon {
  margin-left: 90px;
  display: none;
}
.bottomSheetContentContainer:hover {
  background-color: rgb(227, 150, 142);
  padding: 2px 15px;
  text-decoration: none;
  border-radius: 10em;
  width: 70%;
  margin: 10px 0px;
}
.bottomSheetContentContainer:hover .icon {
  display: inline;
  transform: rotate(-45deg);
  color: rgb(90, 90, 240);
}
.bottomSheetContentContainer svg {
  font-size: 15px;
}
.bottomSheetContentContainer > .navlink > p {
  text-decoration: none;
  font-size: 20px;
  padding: 3.5px;
}
.navlink {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navlink p {
  text-decoration: none;
  color: #000;
}
.bottomSheetSection2 {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
  width: 90%;
  height: fit-content;
  background-color: transparent;
  margin: 2px;
  margin-left: 0px;
  padding: 0;
  padding-left: 35px;
}
.threads {
}
.bottomSheetSection3 {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
  width: 90%;
  background-color: transparent;
  margin: 1px;
  margin-left: 0px;
  padding: 0;
  padding-left: 35px;
}

.bottomSheetSection4 {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
  width: 90%;
  background-color: transparent;
  background-color: transparent;
  margin: 1px;
  margin-left: 0px;
  padding-left: 35px;
}
