.homeContainer {
  background-color: rgb(236, 233, 233);
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.sideBarDiv {
  padding-left: 15px;
  padding-right: 80px;
  background-color: rgb(236, 233, 233);
  border-right: 2px solid rgba(198, 175, 175, 0.703);
  border-bottom: 2px solid rgba(198, 175, 175, 0.703);
  flex: 0.2;
  height: 95vh;
  display: flex;
  flex-direction: column;
}
.sideBarIcon {
  position: relative;
  top: 15px;
  font-size: 60px;
  width: 60px;
  margin: 15px;
  padding: 5px;
}
.menuList {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 0px;
  margin: 0;
  margin-bottom: 0px;
  padding: 5px;
  padding-bottom: 0;
}
.menuItem {
  height: 30px;
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: start;
  padding: 2px;
}
.menuItem p {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.713);
}
.menuItem svg {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.713);
}
.mainDiv {
  flex: 0.8;
  height: 95vh;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgb(236, 233, 233);
}
.mainDiv h3 {
  position: relative;
  left: 200px;
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 15px;
}
.cardDiv {
  background-color: white;
  border-radius: 15px;
  width: 700px;
  height: 53px;
  display: flex;
  justify-content: space-between; /**/
  align-items: center;
  margin: 8px; /**/
  margin-right: 80px;
  margin-left: 200px; /**/
  padding: 5px;
}
.allDetailsDiv {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  padding: 15px;
  padding-left: 100px;
}
.allDetailsDiv img {
  width: 55px;
  height: 40px;
  border-radius: 50%;
}
.detailsDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0;
}
.detailsDiv h6 {
  margin: 0;
  padding: 02px;
  font-size: 18px;
  font-weight: 900;
}
.detailsDiv p {
  margin: 0;
  margin-bottom: 0px;
  width: 200px;
  padding: 03px;
  font-size: 12px;
  font-weight: 500;
}
.followBtn {
  background-color: #6aa9e1;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 18px;
  color: white;
  margin-right: 50px;
}
.navlink {
  text-decoration: none;
  color: rgb(236, 233, 233);
}
.navlink:hover {
  color: rgb(227, 150, 142);
  text-decoration: underline;
}
