.messagesContainer {
  background-color: transparent;
  margin: 0;
  padding: 0;
  display: flex;
}

.leftDiv {
  background-color: transparent;
  flex: 1;
}

.centerDiv {
  background-color: orange;
  flex: 2;
}

.rightDiv {
  background-color: green;
  flex: 3; 
}
