.sideBarDiv {
  padding-left: 5px;
  background-color: rgb(236, 233, 233);
  border-bottom: 01px solid rgba(198, 175, 175, 0.703);
  border-right: 01px solid rgba(198, 175, 175, 0.703);
  flex: 0.2;
  height: 95vh;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
}
.sideBarIcon {
  position: relative;
  top: 15px;
  font-size: 30px;
  width: 60px;
  margin: 10px;
  padding: 5px;
  color: gray;
}
.sideBarIcon:hover {
  color: rgb(227, 150, 142);
}
.menuList {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 0px;
  margin: 0;
  margin-bottom: 0px;
  padding: 5px;
  padding-left: 25px;
  padding-bottom: 0;
}
.menuItem {
  height: 30px;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: start;
  padding: 2px;
  position: relative;
}
.menuItem p {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.713);
}
.menuItem svg {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.713);
}
.navlink {
  text-decoration: none;
  color: rgb(236, 233, 233);
}
.navlink:hover {
  background-color: rgb(227, 150, 142);
  padding: 2px 15px;
  text-decoration: none;
  border-radius: 10em;
}
.searchBox {
  width: 22vw;
  height: 87vh;
  position: absolute;
  top: 23px;
  left: 84px;
  font-size: 20px;
  font-weight: 500;
  padding: 10px;
  margin: 2px;
  background-color: transparent;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 05px 0 05px rgba(0, 0, 0, 0.5);
}
.searchBox h3 {
  margin-left: 10px;
  margin-top: 10px;
}
.searchDiv {
  background-color: white;
  margin: 5px;
  margin-top: 25px;
  padding: 8px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.searchDiv input {
  border: none;
  outline: none;
  padding-left: 10px;
  font-size: 15px;
  font-weight: 500;
}
.searchDiv svg {
  margin-right: 10px;
  font-size: 15px;
  color: rgba(49, 34, 34, 0.782);
  background-color: lightgray;
  border-radius: 50%;
  padding: 3px;
  cursor: pointer;
}
